{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_block %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}"> -->
<link rel="stylesheet" type="text/css" href="/static/index.css">
<style>
    #color,p{
      color: darkgrey; !important
    }
  </style>
{% endblock head_block %}

{% block body_block %}
{% csrf_token %}
<div class='container'>
<h3 class='jumbotron'>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form style='margin-left:10px; max-width: 300px;' method="post" id='color'>

	{% csrf_token %}
	{{form|crispy}}
	<input type="Submit" type='button' class='btn btn-success' name="Update Password">
	
</form>
</div>
{% endblock %}