{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_block %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}"> -->
<link rel="stylesheet" type="text/css" href="/static/index.css">

  <style>
    #color{
      color: darkgrey; !important
    }
  </style>
{% endblock head_block %}

{% block body_block %}
 <body>
  <br /><br />

  <div class="container" id='color' style="max-width:600px;">
   <h2 align="center">Application Form</h2><br /><br />
   <form method="post" id="applyForm" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      {{ form|crispy }}
    </table><br>
  <div class='form-group'>
      <label for="state">State: </label>
    <select name="state" id="state" class="btn btn-secondary dropdown-toggle" role='button' id='dropdownMenuLInk' data-toggle="dropdown" aria-haspopup="true",aria-expanded='false'>
      <option value="">Select State</option>
    </select>
    <br /><br>

    <label for="district">District: </label>
    <select name="district" id="district" class="btn btn-secondary dropdown-toggle" role='button' id='dropdownMenuLInk' data-toggle="dropdown" aria-haspopup="true",aria-expanded='false'>
      <option value="">Select District</option>
    </select>
    <br /><br>

    <label for="subdistrict">Subdistrict: </label>
    <select name="subdistrict" id="subdistrict" class="btn btn-secondary dropdown-toggle" role='button' id='dropdownMenuLInk' data-toggle="dropdown" aria-haspopup="true",aria-expanded='false'>
      <option value="">Select Subdistrict</option>
    </select>
    <button class='text-center btn btn-light' type="submit">Submit</button>
    </form>
  </div>
   <p>{{message}}</p>

   
  </div>
</form>
 </body>
</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script>
$(document).ready(function(){

 load_json_data('state');

 function load_json_data(id, parent_id)
 {
  var html_code = '';
  $.getJSON("/static/data.json", function(data){

   html_code += '<option value="">Select '+id+'</option>';
   $.each(data, function(key, value){
    if(id == 'state')
    {
     if(value.parent_id == '0')
     {
      html_code += '<option value="'+value.id+'">'+value.name+'</option>';
     }
    }
    else
    {
     if(value.parent_id == parent_id)
     {
      html_code += '<option value="'+value.id+'">'+value.name+'</option>';
     }
    }
   });
   $('#'+id).html(html_code);
  });

 }

 $(document).on('change', '#state', function(){
  var state_id = $(this).val();
  if(state_id != '')
  {
   load_json_data('district', state_id);
  }
  else
  {
   $('#district').html('<option value="">Select district</option>');
   $('#subdistrict').html('<option value="">Select subdistrict</option>');
  }
 });
 $(document).on('change', '#district', function(){
  var district_id = $(this).val();
  if(district_id != '')
  {
   load_json_data('subdistrict', district_id);
  }
  else
  {
   $('#subdistrict').html('<option value="">Select subdistrict</option>');
  }
 });
});
</script>
{% endblock %}